{% load static %}
<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<meta name="keywords" content="" />
		<meta name="description" content="Сервис для сокращения URL" />
		<meta name="robots" content="all"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="Author" content="Большаков Владимир">
		<meta name="Copyright" content="Большаков Владимир">
		<title>Сервис для сокращения URL</title>
		
		<link href="{% static 'minilink\CSS\style.css' %}" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'minilink/images/Favicon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'minilink/images/Favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'minilink/images/Favicon/favicon-16x16.png' %}">
	</head>

	<body>
		<div class="layout">
			<!-- <header>
			</header> -->
			<div class="back-img">
				<img id='img-container' src="./static/minilink/images/1.png" alt="">
			</div>
			<main>
        {% block content %}
        {% endblock %}
			</main>
			<footer>
				<div class="footer-inner">
					<a class="logo-inverted" href="https://bolshakovsky.ru/">
						<span>BOLSHAKOV</span><span class="logo-inverted__second">SKY</span>
					</a>
				</div>
			</footer>

		</div>
		<script>
            const DESKTOP_WIDTH = 799
            srcEdit()
            function srcEdit () {
                const displayWidth = document.documentElement.offsetWidth
                const img = document.getElementById('img-container');
    
                if (displayWidth <= DESKTOP_WIDTH && img) {
                    img.src = './static/minilink/images/wood.png'
                } else {
                    img.src = './static/minilink/images/1.png'
                }
            }
            window.addEventListener('resize', srcEdit, true)
        </script>
    </body>
</html>