{% extends "minilink/base.html" %}
{% block content %}
        <form class="reduct" action="" method="POST">
            {% csrf_token %}
            <div class="reduct__head">
                <p>Длинная ссылка - лишняя забота</p> 
            </div>
            {{ URLForm.full }}
            <input type="submit" name = "reduce" value="Сократить">
            
            
            {% if iscontent %}
            <div class="content">
                {% if URLForm.errors %}
                    {% for error in URLForm.errors.full %}
                        {{ error }}
                    {% endfor %}
                {% else %}
                <div class="content__short">
                    <p id="short">{{ short }}</p>
                </div>
                
                {% endif %}
                
            </div>
            {% endif %}
        </form>

{% endblock %}
