{% load static %}
<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<meta name="keywords" content="" />
		<meta name="description" content="Сервис для сокращения URL" />
		<meta name="robots" content="all"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="Author" content="Большаков Владимир">
		<meta name="Copyright" content="Большаков Владимир">
		<title>Сервис для сокращения URL</title>
		
		<link href="{% static 'minilink\CSS\not_found.css' %}" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'minilink/images/Favicon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'minilink/images/Favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'minilink/images/Favicon/favicon-16x16.png' %}">
	</head>
    <body>
        <div class="layout">
            <div class="box">
                <h1>Госпадин!</h1>
                <p>Мы все обыскали!</p>
                <p>Такой ссылки не нашлось!</p>
                <p class = "url">{{ urlNotFound }}</p>
                <p>Нам не обязательно совершать харакири</p>
                <a href="{% url "home" %}">
                    <h2>Может попробуем еще раз?</h2>
                </a>
            </div>
        </div>
    </body>
</html>