/*--------------------------------------------------------------
Eric Meyer's CSS Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------------------------
fonts
--------------------------------------------------------------*/
@font-face {
	font-family: 'Roboto-Bold';
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-style: bold;
	font-weight: bold;
	}
@font-face {
	font-family: 'Roboto-Regular';
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-style: bold;
	font-weight: bold;
	}
@font-face {
	font-family: 'ReggaeOne-Regular';
	src: url('../fonts/ReggaeOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
/*--------------------------------------------------------------
basic setting
--------------------------------------------------------------*/
html{
	background: url(../images/background.jpg) repeat;
}

body{
	font: 23px ReggaeOne-Regular;
	color: #3f403d;
	line-height: 25px;
	background: url(../images/not_found.svg) no-repeat center bottom fixed;
	background-color: url(../images/background.jpg);
	background-size: 100%;
}

h1 {
	font: 70px Roboto-Bold;
	color: #3f403d;
	margin-bottom: 25px;
}
p{
	font: 20px Roboto-Bold;
	color: #3f403d;
	margin-bottom: 20px;
}
body,html{
	height: 100%;
	width: 100%;
}
a{
	color: #3f403d !important;
}
a:hover{
	color: #000000 !important;
}
.layout{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(239, 227, 201,0.7);
	border-radius: 8px 8px 8px 8px;
	text-align: center;
	padding: 50px;
}
.url{
	font: 25px ReggaeOne-Regular;
}

/*--------------------------------------------------------------
@media screen(mobile)
--------------------------------------------------------------*/
@media screen and (min-width : 1px) and (max-width : 600px){

	h1 {
		font: 50px Roboto-Bold;
		color: #3f403d;
		margin-bottom: 25px;
	}
	p{
		font: 15px Roboto-Bold;
		color: #2e2e2e;
		margin-bottom: 20px;
	}
	.url{
		font: 15px ReggaeOne-Regular;
	}
}