/*--------------------------------------------------------------
Eric Meyer's CSS Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------------------------------
layout
--------------------------------------------------------------*/
.layout{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows:
    [RowsStart]
	1fr
	[Indent]
	40px
	[Header]
	40px
	[HeaderEnd]
	20px
	[Main]
    600px
	[MainEnd]
	20px
	[Footer]
	40px
	[FooterEnd]
	1fr
	[RowsEnd];

    grid-template-columns:
	[ColStart]
	1fr
	[DelimiterLeft]
	10px
	[Content]
	1220px
	[ContentEnd]
	10px
	[DelimiterRight]
	1fr
	[ColEnd];
}

header{
    display: grid;
	grid-row: Header / HeaderEnd;
    grid-column: ColStart / ColEnd;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
}
Main{
	width: 100%;
    display: grid;
    grid-row: Main / MainEnd;
    grid-column: Content / ContentEnd;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
}
Footer{
    display: grid;
    grid-row: Footer / FooterEnd;
    grid-column: ColStart / ColEnd;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
}
/*
.header-inner{
    grid-row: Header / HeaderEnd;
    grid-column: EmptyCol / FormColEnd;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.footer-inner{
    grid-row: Footer / FooterEnd;
    grid-column: Content / ContentEnd;
}
.back-img{
	grid-row: Indent / Footer;
    grid-column: DelimiterLeft / DelimiterRight;
}

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
header{
	background: #f3a505;
	opacity: 50%;
}
.Logo{
        font: 25px Big-Shoulders-Text;
        text-decoration: none;
        color: #000000 !important;
    
    }
.logo__second{color:#fafafa}
/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
footer{
	background: #f3a505;
}
.footer-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-inverted{
	font: 30px Big-Shoulders-Text;
	text-decoration: none;
	color: #fafafa !important;
}
.logo-inverted__second{color: #000000}
/*--------------------------------------------------------------
fonts
--------------------------------------------------------------*/
@font-face {
	font-family: 'Big-Shoulders-Text';
	src: url("../fonts/BigShouldersText-Black.ttf") format("truetype");
	font-style: bold;
	font-weight: normal;
	}	
@font-face {
	font-family: 'ReggaeOne-Regular';
	src: url('../fonts/ReggaeOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*--------------------------------------------------------------
basic setting
--------------------------------------------------------------*/
html, body {
	height:100%;
	width: 100%;	
	font: 23px ReggaeOne-Regular;
	color: #474747;
	background: url(../images/background.jpg) repeat;

}
main{
	display: flex;
	justify-content:flex-end;
	align-items:flex-start;
}
a{
	color: #000000 !important;
}
a:hover{
	color: #fafafa !important;
}
.back-img img{
	height: 837px;
	width: auto;
}

/*--------------------------------------------------------------
main
--------------------------------------------------------------*/
.reduct{
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.reduct__head{
	margin-top: 70px;
	margin-bottom: 30px;
	font: 23px ReggaeOne-Regular;
}
.reduct input[type="url"]{
	width: 70%;
	margin-bottom: 30px;
	font: 20px ReggaeOne-Regular;
	color: #474747;
	background-image: url(../images/background.jpg);
	border: 2px solid #4d5659;
    border-radius: 5px;
    padding: 8px 15px; 
}
.reduct input[type="url"]:focus{
	outline:none;
	background-color: #fafafa;
	background-image: none;
}
.reduct input[type="submit"]{
	margin-bottom: 30px;
	font: 30px ReggaeOne-Regular;
	color: #474747;
	padding: 8px 15px;
	border-radius: 5px;
	transition: all 0.3s ease !important;
	background-color: #f2ca84;
	background-image: url(../images/background.jpg);
	border: 2px solid #4d5659;
}
.reduct input[type="submit"]:hover{
	background-color: #f2ca84;
	background-image: none;
	cursor: pointer;
}
.content{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 10px;
	background-image: url(../images/background.jpg);
	font: 23px ReggaeOne-Regular;
}
.content__short{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.back-img{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*--------------------------------------------------------------
@media screen()
--------------------------------------------------------------*/
@media screen and (min-width : 800px) and (max-width : 1220px){

	.layout{
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-rows:
		[RowsStart]
		1fr
		[Indent]
		40px
		[Header]
		40px
		[HeaderEnd]
		20px
		[Main]
		445px
		[MainEnd]
		20px
		[Footer]
		40px
		[FooterEnd]
		1fr
		[RowsEnd];
	
		grid-template-columns:
		[ColStart]
		1fr
		[DelimiterLeft]
		10px
		[Content]
		820px
		[ContentEnd]
		10px
		[DelimiterRight]
		1fr
		[ColEnd];
	}

	.back-img img{
		height: 545px;
		width: auto;
	}
	.reduct__head{
		margin-top: 70px;
		margin-bottom: 20px;
		font: 18px ReggaeOne-Regular;
	}
	.reduct input[type="url"]{
		margin-bottom: 20px;
		font: 15px ReggaeOne-Regular;
		padding: 8px 15px; 
	}
	.reduct input[type="submit"]{
		margin-bottom: 20px;
		font: 25px ReggaeOne-Regular;
		padding: 8px 15px;
	}
	.content{
		padding: 10px;
		font: 15px ReggaeOne-Regular;
	}
}

/*--------------------------------------------------------------
@media screen(mobile)
--------------------------------------------------------------*/
@media screen and (min-width : 1px) and (max-width : 799px){

	.layout{
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-rows:
		[RowsStart]
		1fr
		[Indent]
		10px
		[Header]
		40px
		[HeaderEnd]
		5px
		[Main]
		445px
		[MainEnd]
		5px
		[Footer]
		40px
		[FooterEnd]
		1fr
		[RowsEnd];
	
		grid-template-columns:
		[ColStart]
		1fr
		[DelimiterLeft]
		10px
		[Content]
		300px
		[ContentEnd]
		10px
		[DelimiterRight]
		1fr
		[ColEnd];
	}

	.back-img img{
		height: 416px;
		width: auto;
	}

	.reduct{
		width: 100%;
	}

	.reduct__head{
		text-align: center;
		background-color: rgba(239, 227, 201,0.7);
		margin-top: 0px;
		margin-bottom: 120px;
		font: 18px ReggaeOne-Regular;
	}

	.reduct input[type="url"]{
		width: 95%;
		margin-bottom: 20px;
		font: 15px ReggaeOne-Regular;
		padding: 8px 10px; 
	}
	.reduct input[type="submit"]{
		margin-bottom: 20px;
		font: 25px ReggaeOne-Regular;
		padding: 8px 15px;
	}
	.content{
		width: 100%;
		height: 100%;
		border-radius: 5px;
		padding: 10px;
		background-image: url(../images/background.jpg);
		font: 15px ReggaeOne-Regular;
	}

}